<h1>Create new tournament</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@tournament) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :date %>
      <%= f.datetime_select :date, { start_year: Date.today.year, minute_step: 15 },
                                   { style: "width: auto;" } %>

      <%= f.label :deadline %>
      <%= f.datetime_select :deadline, { start_year: Date.today.year, minute_step: 15 },
                                       { style: "width: auto;" } %>

      <%= f.label :max_number_of_contestants %>
      <%= f.number_field :max_number_of_contestants, min: 0 %>

      <%= f.label :seeding_number %>
      <%= f.number_field :seeding_number, min: 0 %>

      <%= f.submit "Create new tournament", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
