<h1>Join tournament</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@participation, url: create_join_tournament_path) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.hidden_field :tournament_id %>

      <%= f.label :user_rank_position %>
      <%= f.number_field :user_rank_position, min: 0 %>

      <%= f.label :user_license_id %>
      <%= f.number_field :user_license_id, min: 0 %>

      <%= f.submit "Join tournament", class: "btn btn-large btn-primary btn-block" %>
    <% end %>
  </div>
</div>
