<h1><%= @tournament.name  %></h1>

<div class="row">
  <div class="span8">
    <p>Organizer: <%= @tournament.organizer.full_name %></p>
    <p>Scheduled on: <%= @tournament.date.strftime("%Y-%m-%d %H:%M") %></p>
    <p>Registration till: <%= @tournament.deadline.strftime("%Y-%m-%d %H:%M") %></p>
    <% if current_user == @tournament.organizer %>
      <p><%= link_to "edit", edit_tournament_path %></p>
    <% end %>
    <p><%= link_to "join", new_join_tournament_path %></p>
  </div>
</div>
