<h1>Incomming matches</h1>

<div class="row">
  <div class="span8">
    <% if @matches.any? %>
      <h3>Matches (<%= @matches.count %>)</h3>
      <ul>
        <% @matches.each do |match| %>
        <li>
          <span class="content">
            <%= link_to match.tournament.name, match.tournament %>
          </span>
          <span class="timestamp">
            <%= link_to match.to_string, match %>
            <% if match.has_winner? %>
              [winner - <%= match.winner_name %>]
            <% elsif match.user_added_winner? current_user %>
              [waiting for confirmation]
            <% elsif match.is_ready? && match.participates?(current_user) %>
              [you can add the winner]
            <% end %>
          </span>
        </li>
        <% end %>
      </ul>
      <%= will_paginate @matches %>
    <% end %>
  </div>
</div>
