<h3><%= @match.to_string %></h3>

<hr>

<% if !@match.is_ready? %>
  This match has not been opened yet.
<% elsif @match.user_added_winner? current_user %>
  Winner saved!
<% else %>
  <div class="row">
    <div class="span6">
      <%= form_tag("/matches/#{@match.id}", method: :patch) do %>

        <%= label_tag 'winner:' %>
        <%= select_tag 'winner', options_for_select(@match.user_names.values) %>

        <%= submit_tag "Save", class: "btn btn-large btn-primary btn-block" %>
      <% end %>
    </div>
  </div>
<% end %>
